@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo(a)</h1><br />
    <p>
        <h6>Experimente a Melhor Alocação de Aluguel de Produtos: A Solução para suas Necessidades Temporárias!</h6><br />
        
</p>
    
<div>
        Seja para um evento especial, um projeto único ou apenas para experimentar algo novo, nossa loja de alocação e gestão de produtos está aqui<br /> 
        para atender a todas as suas necessidades. Com uma ampla variedade de produtos de alta qualidade disponíveis para aluguel, oferecemos uma alternativa <br />
        inteligente e econômica à compra.
        
</div>
</div>
